@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color:#213547
}

.navbar{
  height: 10vh;
  width: 100vw;
  background-color: #213547;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.navrleft{
  display: flex;
  justify-content:space-between ;
}
.navright {
  display: flex;
  gap: 2rem;
}
.loginpage{
  display: flex;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginpage input{
  width: 30vw;
  justify-content: center;
  align-items: center;
  background-color:antiquewhite;
}
.loginpage h1 {
  font-size: 2rem;
  color: antiquewhite;
  padding-bottom: 2rem;
}
.createaccountbutton{
  width: 4rem;
}